body {
    background-image: url(raw/bk.png);
    font-family: 'Roboto', cursive,  Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
    transition: 1s;
    transform: scale(0);
}

span {
    margin: 0%;
    padding: 0%;
}

h4 {
    text-align: center; 
    margin-top: 100px; 
    font-family: Montserrat, 'Consolas';
    font-size: 3ch;
    color: #2B2B52;
}

#title {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    text-align: center;
    font-family: 'Roboto Mono', cursive;
    font-size: 4vh;
    background-color: #8B78E6;
    color: #F5F5F5;
}

#cursor {
    color: #f5f5f5;
    animation: blink-cursor 1s step-end infinite;
}

#subtitle {
    font-family: Comfortaa, cursive;
    text-align: center;
    font-size: 1.2em;
    color: #26F9D8;
    font: bold;
}

.works {
    margin: 10px;
    transition: 0.3s;
    color: #FFF;
    padding: 10px;
    display: inline-block;
    background-color: #FB6F6F;
    border-radius: 16px;   
}

.works:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.2);
}

.works:hover~.remove {
    transform: scale(1);
}

.remove {
    transition: 0.5s;
    transform: scale(0);
    cursor: pointer;
}

.remove:hover {
    transform: scale(1.1); 
}

#addbutton {
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    transition: 0.5s;
    color: #212121;
    border-radius: 16px;
    cursor: pointer;
}

#addbutton:hover {
    background-color: #212121;
    color: #F5F5F5;
}

@keyframes blink-cursor {
    from, to {opacity: 1;}
    50% {opacity: 0;}
}