@import url("http://hello.myfonts.net/count/357c3a");
.u-hidden{
    display:none
}
@font-face{
    font-display:swap;
    font-family:"Sailec-Light";
    src:url(357C3A_6_0-59ec95bea1282fe210b929e11e726604fb8533a310b40800d65e237ffa17fc9e.woff2) format("woff2"),url(357C3A_6_0-3c144399ce727b71473d75e45a3368b2d9e83071ee331aaab010b92e47a42aa3.woff) format("woff")
}
@font-face{
    font-display:swap;
    font-family:"Sailec-Regular";
    src:url(357C3A_A_0-686a2be57bf5ea3edc8ee1c47fd0879ad71c394d85312b98ee3af6d79788ab6c.woff2) format("woff2"),url(357C3A_A_0-794702b3f1fffe211b13290352a3ee6c296b4614d87af60c40c6e4aa82c0edcd.woff) format("woff")
}
@font-face{
    font-display:swap;
    font-family:"Sailec-RegularItalic";
    src:url(357C3A_B_0-f608312b2316150707b7c02befa1ca23f63a8afe774a885ab64e0d9417d98cd3.woff2) format("woff2"),url(357C3A_B_0-577565460b40634508239b305706e225e6d137d2bb8f63dcf3af68543b328869.woff) format("woff")
}
@font-face{
    font-display:swap;
    font-family:"Sailec-Medium";
    src:url(357C3A_8_0-2522bcef753fa074de838f4446451238435e3d7e3112a45748d75fc3441bfb0b.woff2) format("woff2"),url(357C3A_8_0-558533e20239a4e4316a4bc56e501ce0e43ff34a76296720cc9836ee749b5c48.woff) format("woff")
}
@font-face{
    font-display:swap;
    font-family:"Sailec-MediumItalic";
    src:url(357C3A_9_0-313beb3452333d7a6539013374cd91619697f6ded2494557845ed725de05b528.woff2) format("woff2"),url(357C3A_9_0-065176d04df33ffb7da154956ccaaf7e68a11cf7546c7b46ebb1e2d12bb25c19.woff) format("woff")
}
@font-face{
    font-display:swap;
    font-family:"Sailec-Bold";
    src:url(357C3A_0_0-458c012e7e997bb97cdc6f477b2f2512ab12c549c17da53edec9285573b3bb1c.woff2) format("woff2"),url(357C3A_0_0-0493490adc87dfadd3b5c60400360a6d21d842237ba6588b78a4bf17f1502bbc.woff) format("woff")
}
html{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
*,*::before,*::after{
    -webkit-box-sizing:inherit;
    box-sizing:inherit;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
html,h1,h2,h3,h4,h5,h6{
    color:#fff;
    font-family:"Sailec-Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height:1.6
}
h1,h2,h3,h4,h5,h6{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
a{
    color:#411e2f;
    text-decoration:underline;
    -webkit-text-decoration-skip:ink;
    text-decoration-skip:ink
}
a:hover{
    color:black
}
a:focus{
    color:#411e2f;
    outline:3px solid rgba(65,30,47,0.8);
    outline-offset:2px
}
::-moz-selection{
    background-color:#411e2f;
    color:#fff
}
::selection{
    background-color:#411e2f;
    color:#fff
}
body{
    background-image:url(computer-1-ac501e54260f53f627b8f2d8f42da0811b868214852dd99a9c095344884f576c.png),url(computer-2-2cdd15a9fe9ad8dbc2de34fbb395243df58b73863a4ffca6b417ca1a21d06d2f.png),url(bg-noise-867a64f4a090fcaa19c0c1531b5bf1863feb109a15ac8de23d7f6cf4ff43de10.png);
    background-position:left 0 top 140px, right 0 top 350px, center;
    background-repeat:no-repeat, no-repeat, repeat;
    background-size:396px, 396px, auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    margin:0;
    min-height:100vh;
    padding:0 0 1.5rem;
    position:relative;
    font-size:16px
}
body.controller--pages,body.controller--sign_up{
    background-image:url(bg-noise-867a64f4a090fcaa19c0c1531b5bf1863feb109a15ac8de23d7f6cf4ff43de10.png);
    background-position:center;
    background-repeat:repeat;
    background-size:auto
}
@media (max-width: 1162px){
    body{
        background-position:calc(50% - 383px) 140px,calc(50% + 383px) 350px,center
    }
}
strong{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight:normal
}
.container{
    margin:0 auto;
    max-width:1100px;
    padding-left:1rem;
    padding-right:1rem
}
.header{
    margin:1.5rem 3rem 1.5rem
}
.header__logo .st0{
    fill:#21ffff
}
.header__logo:hover .st0{
    fill:#fff
}
.top-nav{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    font-size:1.1em;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.top-nav--secondary{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    color:#aaa;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    list-style:none
}
@media (max-width: 52em){
    .top-nav--secondary{
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -webkit-box-pack:end;
        -ms-flex-pack:end;
        justify-content:flex-end
    }
}
.top-nav--secondary a{
    color:#aaa;
    padding:1rem;
    text-decoration:none;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
.top-nav--secondary a.active{
    color:#fff;
}
.top-nav--secondary a:hover{
    color:#fff
}
a.top-nav--sign-up{
    border:3px solid #21ffff;
    border-radius:4px;
    color:#21ffff;
    display:inline-block;
    font-size:0.9em;
    margin-left:0.5rem;
    padding:0.5rem 1rem;
    text-decoration:none
}
a.top-nav--sign-up:hover{
    border-color:#fff;
    color:#fff;
    text-decoration:none
}
.footer{
    bottom:0;
    left:0;
    opacity:0.8;
    position:absolute;
    right:0;
    text-align:center
}
.footer__logos{
    letter-spacing:30px
}
.footer__logo-link{
    display:inline-block;
    vertical-align:middle
}
.footer__logo{
    vertical-align:middle
}
.footer__copyright{
    color:#cccccc;
    font-size:0.9em;
    font-weight:300;
    margin-top:1.5rem
}
.error--headline{
    color:#ff9a56;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
.error--goback{
    color:#ff9a56;
    margin:0 auto
}
.error--goback a{
    color:#ff9a56
}
.error--goback a:hover{
    color:#fff
}
.hero{
    margin-bottom:6rem;
    margin-top:6rem;
    padding-bottom:1.5rem;
    padding-top:1.5rem;
    text-align:center;
    width:100%
}
@media (min-width: 52em){
    .hero{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex
    }
}
.hero--logo{
    padding:1rem
}
@media (max-width: 52em){
    .hero--logo{
        margin-bottom:1.5rem
    }
}
.hero--logo-image{
    max-width:80vw
}
.hero--content{
    padding:1rem
}
@media (max-width: 30em){
    .hero--content{
        text-align:center
    }
}
@media (min-width: 30em){
    .hero--content{
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1
    }
}
.hero--headline{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:0.9em;
    letter-spacing:1px;
    margin:0 0 1rem 0;
    text-transform:uppercase
}
.hero--sub-headline{
    color:#ff9a56;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:1.65em;
    line-height:1.2;
    margin:1rem 0 1.95rem
}
.hero--cta{
    background-color:#21ffff;
    border:0;
    border-radius:4px;
    color:#411e2f;
    font-size:1.125rem;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:0.5px;
    line-height:1;
    padding:1rem 1.5rem;
    text-decoration:none
}
.hero--cta:hover{
    background-color:#fff;
    color:#411e2f
}
.hero--credits{
    color:#cccccc;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:1.2em;
    letter-spacing:0.5px;
    margin:7.2rem auto 0.5rem;
    max-width:880px
}
.hero--credits-logos{
    -webkit-box-align:baseline;
    -ms-flex-align:baseline;
    align-items:baseline;
    display:grid;
    grid-template-columns:repeat(3, auto);
    justify-items:center;
    margin:1rem auto 0;
    padding-right:2rem;
    width:600px
}
@media (max-width: 52em){
    .hero--credits-logos{
        grid-template-columns:auto;
        grid-gap:1rem;
        margin:0 auto;
        padding-right:0;
        width:auto
    }
}
.hero--credits-logo{
    vertical-align:text-bottom
}
.hero--credits-logo g,.hero--credits-logo path{
    fill:#cccccc !important
}
.hero--credits-logo-do{
    justify-self:end;
    position:relative;
    top:3px
}
@media (max-width: 52em){
    .hero--credits-logo-do{
        justify-self:center
    }
}
.hero--credits-logo-twilio{
    justify-self:start
}
@media (max-width: 52em){
    .hero--credits-logo-twilio{
        justify-self:center
    }
}
.hero--email-success{
    font-weight:500
}
.hero--email-error{
    color:#ff625f;
    font-weight:500
}
.whatis{
    font-size:1.5em;
    text-align:center
}
.whatis--details{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
@media (max-width: 30em){
    .whatis--details{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
}
.whatis--detail-item{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    font-size:0.7em;
    font-weight:150;
    padding:1rem
}
.whatis--detail-item img{
    margin:0 auto;
    max-width:80px
}
.whatis--detail-item p{
    color:#e6e6e6;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:0.5px;
    padding:0 1rem
}
.whatis--headline{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:1px
}
.whatis--logo-do{
    position:relative;
    top:6px
}
.whatis--sub-headline{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
.rules{
    font-size:1.125rem
}
.rules--headline{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight:300
}
.rules--details{
    letter-spacing:0.5px
}
.rules--details strong{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight:300
}
.rules--details-link{
    color:#ff9a56;
    cursor:pointer;
    text-decoration:none
}
.rules--details-link:hover{
    color:#fff
}
.sharing{
    text-align:center;
    margin:7.5rem 0 15rem
}
.sharing--header{
    display:block;
    margin:0 auto 3rem;
    max-width:400px
}
.sharing--cta-link{
    background-color:transparent;
    border:3px solid #21ffff;
    border-radius:4px;
    color:#21ffff;
    display:inline-block;
    font-size:0.9em;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height:1.2;
    margin:0.5rem;
    padding:1rem;
    text-decoration:none
}
.sharing--cta-link:hover{
    border-color:#fff;
    color:#fff;
    text-decoration:none
}
.sharing--cta-link:hover .sharing--cta-icon g,.sharing--cta-link:hover .sharing--cta-icon path{
    fill:#fff !important
}
.sharing--cta-icon{
    margin-left:0.5rem;
    vertical-align:middle
}
.sharing--cta-icon g,.sharing--cta-icon path{
    fill:#21ffff !important
}
.sharing--cta-text{
    margin-left:1rem;
    margin-right:0.5rem;
    vertical-align:middle
}
.projects{
    background-color:#411e2f;
    font-size:1.5em;
    margin-top:7.5rem;
    padding:3rem;
    text-align:center
}
.projects--headline{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:1px;
    margin-bottom:0.5rem
}
.projects--details{
    color:#ff9a56;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:0.9em;
    letter-spacing:1px;
    margin:0
}
.projects--list{
    color:#333;
    display:grid;
    list-style:none;
    grid-gap:2rem;
    grid-template-columns:repeat(3, 31.5%);
    margin:0 auto;
    padding:3rem 0 0
}
@media (max-width: 52em){
    .projects--list{
        grid-template-columns:repeat(2, 45%)
    }
    .projects--list .project:last-child{
        display:none
    }
}
@media (max-width: 30em){
    .projects--list{
        grid-template-columns:100%
    }
}
.projects--browse-more{
    background-color:#21ffff;
    border:0;
    border-radius:4px;
    color:#411e2f;
    display:inline-block;
    font-size:0.72em;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height:1;
    margin:3rem auto;
    padding:1rem 1.5rem;
    text-decoration:none
}
.projects--browse-more:hover{
    background-color:#fff;
    color:#411e2f
}
.project{
    background-color:#fff;
    border:1px solid rgba(204,204,204,0.5);
    border-radius:10px;
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.02);
    box-shadow:0 2px 5px rgba(0,0,0,0.02);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column
}
.project--header{
    -webkit-box-align:baseline;
    -ms-flex-align:baseline;
    align-items:baseline;
    border-bottom:1px solid #aaa;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    font-size:0.9em;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:1rem 1.5rem
}
.project--name{
    color:#236ace;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    font-size:0.9em;
    text-align:left;
    text-decoration:none;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap
}
.project--language{
    color:#aaa;
    font-size:0.7em;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight:500;
    letter-spacing:0.5px;
    margin-left:1rem;
    text-align:right;
    text-transform:uppercase
}
.project--body{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    font-size:0.9em;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:1rem 1.5rem;
    text-align:left
}
.project--description{
    color:#333;
    font-size:1.125rem;
    margin:0
}
.project--issue{
    -webkit-box-align:baseline;
    -ms-flex-align:baseline;
    align-items:baseline;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    font-size:0.7em;
    margin-top:0.5rem;
    text-decoration:none
}
.project--issue-number{
    background-color:#ff9a56;
    border-radius:4px;
    color:#fff;
    padding:0 0.5rem;
    margin-right:0.5rem;
    margin-top:0.5rem
}
.project--issue-title{
    color:#000;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap
}
.gettingstarted{
    font-size:1.125rem;
    margin-top:3.75rem;
    text-align:center
}
.gettingstarted--headline{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:1px;
    margin-bottom:1rem
}
.gettingstarted--sections{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
@media (max-width: 52em){
    .gettingstarted--sections{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
}
.gettingstarted--section{
    color:#333;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    font-size:0.9em
}
@media (max-width: 52em){
    .gettingstarted--section{
        margin-top:1rem
    }
}
.gettingstarted--section-header{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:1px;
    margin:0;
    padding:1.5rem
}
@media (max-width: 52em){
    .gettingstarted--section-header{
        border-top-left-radius:10px;
        border-top-right-radius:10px
    }
}
.gettingstarted--section-content{
    background-color:#fff;
    border-right:1px solid #333;
    height:93.8%;
    padding:1.5rem;
    text-align:left
}
@media (max-width: 52em){
    .gettingstarted--section-content{
        border-right:none;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px
    }
}
.gettingstarted--section-content a{
    color:#236ace;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration:none
}
.gettingstarted--beginners .gettingstarted--section-header{
    background-color:#21ffff;
    border-top-left-radius:10px;
    color:#411e2f
}
.gettingstarted--beginners .gettingstarted--section-content{
    border-bottom-left-radius:10px
}
.gettingstarted--maintainers .gettingstarted--section-header{
    background-color:#236ace
}
.gettingstarted--contributors .gettingstarted--section-header{
    background-color:#ff9a56;
    border-top-right-radius:10px
}
.gettingstarted--contributors .gettingstarted--section-content{
    border-bottom-right-radius:10px
}
.gettingstarted--contributors .gettingstarted--section-content{
    border-right:none
}
.events{
    font-size:1.5em;
    margin-top:7.5rem;
    text-align:center
}
.events--headline{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:1px;
    margin-bottom:1rem
}
.events--sub-headline{
    color:#ff9a56;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:1px;
    line-height:1.2;
    margin:1rem 0 1.95rem
}
.events--sub-headline-link{
    color:#ff9a56;
    -webkit-text-decoration:underline dotted;
    text-decoration:underline dotted
}
.events--sub-headline-link:hover{
    color:#fff
}
.events--list{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding:0
}
@media (max-width: 52em){
    .events--list{
        -ms-flex-wrap:wrap;
        flex-wrap:wrap
    }
}
@media (max-width: 30em){
    .events--list{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -ms-flex-wrap:nowrap;
        flex-wrap:nowrap
    }
}
.events--list-item{
    background-color:#fff;
    border-radius:4px;
    color:#ff9a56;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    margin-right:1.5rem;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding:2.025rem
}
.events--list-item:last-child{
    margin-right:0
}
@media (max-width: 52em){
    .events--list-item{
        margin:1.5rem
    }
    .events--list-item:last-child{
        margin-right:1.5rem
    }
}
.events--list-item-month{
    font-size:0.7em;
    text-transform:uppercase;
    letter-spacing:1px
}
.events--list-item-date{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:2.5em;
    letter-spacing:1px;
    line-height:1;
    padding:1rem 0 0.5rem
}
.events--list-item-location{
    color:#411e2f;
    font-size:0.9em;
    white-space:nowrap
}
.events--list-item-link{
    color:#236ace;
    font-size:0.7em;
    text-decoration:none;
    overflow:hidden;
    text-decoration:none;
    text-overflow:ellipsis;
    white-space:nowrap
}
.events--list-item-link:hover{
    color:#70a1e7;
    text-decoration:underline
}
.events--cta{
    background-color:#21ffff;
    border:0;
    border-radius:4px;
    color:#411e2f;
    display:inline-block;
    font-size:0.7em;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:0.5px;
    line-height:1;
    margin-top:1.5rem;
    padding:1rem 1.5rem;
    text-decoration:none
}
.events--cta:hover{
    background-color:#fff;
    color:#411e2f
}
.signup{
    text-align:center;
    margin-bottom:15rem
}
.signup--hero{
    max-width:450px
}
.signup--heading{
    margin:1.5rem 0 3rem;
    font-size:2em;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight:normal;
    letter-spacing:0.5px
}
.signup--copy{
    margin-top:3rem
}
.signup--cta{
    color:#ff9a56;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:1.5em;
    letter-spacing:1px
}
.signup--cta-link{
    background-color:#21ffff;
    border:0;
    border-radius:4px;
    color:#411e2f;
    cursor:pointer;
    font-size:1.125rem;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height:1;
    padding:1rem 1.5rem;
    text-decoration:none
}
.signup--cta-link:hover{
    background-color:#fff;
    color:#411e2f
}
.signup--form{
    margin:3rem auto;
    max-width:600px;
    text-align:left
}
.signup--form label{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
.signup--form input[type="text"],.signup--form input[type="email"]{
    font-family:"Sailec-Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:1.125rem;
    margin-right:1rem;
    padding:0.5rem;
    width:400px
}
.signup--form-row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    margin-top:1rem
}
.signup--form-row label{
    margin:0.5rem 0
}
.signup--form-row-horizontal{
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row
}
.signup--form-row-horizontal label{
    margin:0 1rem
}
.signup--help-list{
    display:inline-block;
    list-style:none;
    margin:0 auto;
    text-align:center
}
.signup--help-list a{
    color:#21ffff;
    text-decoration:none
}
.signup--help-list a:hover{
    color:#fff;
    text-decoration:underline
}
.signup--share .sharing--cta-link,.signup--share .sharing--cta-icon{
    vertical-align:baseline
}
.Form-errors{
    display:none
}
.Form-errors.filled{
    display:block
}
.parsley-required{
    color:red
}
.hero--eventkit{
    margin-bottom:0 !important;
    height:500px
}
.eventkit{
    background-color:#fff;
    color:black;
    margin-bottom:7.5rem;
    padding:3rem 0
}
@media (max-width: 1162px){
    .eventkit{
        background-position:calc(50% - 383px) -560px,calc(50% + 383px) -350px,center
    }
}
.eventkit .container{
    max-width:900px
}
.eventkit h2{
    color:#411e2f;
    font-size:2.25em;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
.eventkit h3{
    color:#ff9a56;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
.eventkit a{
    color:#236ace;
    text-decoration:none
}
.eventkit a:hover{
    color:#4585df
}
.eventkit--promote{
    background-color:#236ace;
    border-radius:20px;
    color:color--white;
    padding:3rem
}
.eventkit--desc{
    color:#e6e6e6;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing:1px;
    max-width:450px
}
.eventkit--desc h4{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
.eventkit--postcard{
    position:relative;
    float:right;
    right:-90px
}
.eventkit--postcard:hover,.eventkit--postcard:focus{
    -webkit-filter:drop-shadow(-5px 5px 10px rgba(255,255,255,0.4));
    filter:drop-shadow(-5px 5px 10px rgba(255,255,255,0.4))
}
@media (max-width: 30em){
    .eventkit--postcard{
        display:none
    }
}
a.eventkit--assets{
    color:#fff;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration:none
}
a.eventkit--assets:hover{
    color:#fff;
    text-decoration:underline
}
.instagram-media{
    min-width:286px !important
}
.details .container{
    max-width:770px;
    padding-bottom:200px
}
.details p{
    font-size:1.125em;
    line-height:1.6
}
.details .lead{
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:1.125rem;
    color:#ff9a56;
    letter-spacing:0;
    line-height:40px
}
.details ul li{
    font-size:1.125rem;
    margin-bottom:15px
}
.details ul li img{
    max-width:50%
}
.details ul li b{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color:#ff9a56
}
.details ul.list-icon{
    padding-left:0
}
.details ul.list-icon li{
    list-style:none;
    padding-bottom:20px
}
.details ul.list-icon li img{
    max-width:80px;
    display:block;
    margin-bottom:10px
}
@media (min-width: 992px){
    .details ul.list-icon li img{
        float:left;
        margin:0 25px 50px 0
    }
}
.mt-60{
    margin-top:60px
}
.mb-60{
    margin-bottom:60px
}
.mb-120{
    margin-bottom:120px
}
.faq{
    max-width:800px;
    margin-bottom:15rem
}
.faq--headline{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
.faq--sub-headline{
    color:#ff9a56;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:1.65em;
    letter-spacing:1px;
    line-height:1.2;
    margin:1rem 0 1.95rem
}
.faq--content h2{
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top:120px
}
.faq--content h2:first-child{
    margin-top:0
}
.faq .accordion__trigger{
    font-family:"Sailec-Regular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin:1rem 0 0.5rem
}
.faq a{
    color:#ff9a56
}
.faq a:hover{
    color:#fff
}
.faq .accordion__pane{
    margin-bottom:3rem
}
.faq .accordion__pane p{
    color:#bfbfbf
}
.faq .accordion__pane p:first-child{
    margin-top:0
}
.hero-stats{
    margin-bottom:0
}
.stats{
    background-color:#411e2f;
    border-radius:10px;
    padding:1.5rem 1.5rem 0;
    margin-bottom:7.5rem
}
.stats--global-summary{
    display:grid;
    grid-gap:1rem;
    grid-template-columns:repeat(12, 6.95%)
}
.stats--global-summary>*{
    background-color:white;
    border-radius:4px;
    color:black;
    padding:1rem
}
.stats--global-summary-item{
    grid-column-end:span 4
}
.stats--global-summary-item-header{
    color:#411e2f;
    margin-top:0
}
.stats--global-summary-item-count{
    color:#ff9a56;
    font-family:"Sailec-Bold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:3.125em
}
.stats--global-summary-total-prs{
    grid-column-end:span 12
}
.stats--global-summary-popular-days{
    grid-column-end:span 5
}
.stats--global-summary-highest-count-repos{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    grid-column-end:span 7;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.stats--global-summary-highest-count-repos-list{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    list-style:none
}
.userstats{
    display:grid;
    grid-gap:1rem;
    grid-template-columns:repeat(12, 6.95%)
}
.userstats--card{
    display:grid;
    grid-column-end:span 5;
    grid-template-columns:repeat(12, 1fr)
}
.userstats--card-image{
    grid-column-end:span 3;
    width:100%
}
.userstats--card-name{
    grid-column-end:span 9;
    padding:0 1rem
}
.userstats--card-name h2{
    margin-top:0
}
.userstats--progress{
    grid-column-end:span 12
}
.userstats--share{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    grid-column-end:span 12;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    margin-top:1rem
}
.userstats--share-cta{
    margin:0;
    text-align:center;
    width:47%
}
.userstats--contributions{
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-column-end:span 7
}
.userstats--contributions-header{
    grid-column-end:span 12
}
.userstats--contributions-chart{
    grid-column-end:span 4
}
.userstats--contributions-chart canvas{
    width:100%
}
.userstats--contributions-list{
    grid-column-end:span 8;
    list-style:none
}
.userstats--contributions-list a{
    color:#ff9a56;
    text-decoration:underline
}
.userstats--contributions-list a:hover{
    color:#fff
}
.userstats--global-compare{
    margin-bottom:1.5rem
}
.pullRequestCount{
    display:inline-block;
    width:3em
}
@-webkit-keyframes appearIn{
    from{
        width:0
    }
    to{
        width:100%
    }
}
@keyframes appearIn{
    from{
        width:0
    }
    to{
        width:100%
    }
}
.ProgressBar{
    background-color:#aaa;
    border-radius:30px;
    height:32px;
    overflow:hidden;
    position:relative;
    width:100%
}
.ProgressBar::after{
    -webkit-animation:appearIn 0.9s ease-in forwards;
    animation:appearIn 0.9s ease-in forwards;
    content:"";
    display:block;
    height:32px;
    left:0;
    position:absolute;
    top:0
}
.ProgressBar--1::after{
    background:-webkit-gradient(linear, left top, right top, from(#2b81d8), color-stop(20%, #2b81d8), color-stop(20%, #aaa));
    background:linear-gradient(to right, #2b81d8 0%, #2b81d8 20%, #aaa 20%)
}
.ProgressBar--2::after{
    background:-webkit-gradient(linear, left top, right top, from(#2b81d8), color-stop(20%, #2b81d8), color-stop(20%, #20a0e1), color-stop(40%, #20a0e1), color-stop(40%, #aaa));
    background:linear-gradient(to right, #2b81d8 0%, #2b81d8 20%, #20a0e1 20%, #20a0e1 40%, #aaa 40%)
}
.ProgressBar--3::after{
    background:-webkit-gradient(linear, left top, right top, from(#2b81d8), color-stop(20%, #2b81d8), color-stop(20%, #20a0e1), color-stop(40%, #20a0e1), color-stop(40%, #16c0eb), color-stop(60%, #16c0eb), color-stop(60%, #aaa));
    background:linear-gradient(to right, #2b81d8 0%, #2b81d8 20%, #20a0e1 20%, #20a0e1 40%, #16c0eb 40%, #16c0eb 60%, #aaa 60%)
}
.ProgressBar--4::after{
    background:-webkit-gradient(linear, left top, right top, from(#2b81d8), color-stop(20%, #2b81d8), color-stop(20%, #20a0e1), color-stop(40%, #20a0e1), color-stop(40%, #16c0eb), color-stop(60%, #16c0eb), color-stop(60%, #0bdff5), color-stop(80%, #0bdff5), color-stop(80%, #aaa));
    background:linear-gradient(to right, #2b81d8 0%, #2b81d8 20%, #20a0e1 20%, #20a0e1 40%, #16c0eb 40%, #16c0eb 60%, #0bdff5 60%, #0bdff5 80%, #aaa 80%)
}
.ProgressBar--full::after{
    background:-webkit-gradient(linear, left top, right top, from(#2b81d8), color-stop(20%, #2b81d8), color-stop(20%, #20a0e1), color-stop(40%, #20a0e1), color-stop(40%, #16c0eb), color-stop(60%, #16c0eb), color-stop(60%, #0bdff5), color-stop(80%, #0bdff5), color-stop(80%, #01ffff));
    background:linear-gradient(to right, #2b81d8 0%, #2b81d8 20%, #20a0e1 20%, #20a0e1 40%, #16c0eb 40%, #16c0eb 60%, #0bdff5 60%, #0bdff5 80%, #01ffff 80%)
}
.StepIndicator{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    list-style:none;
    width:100%
}
.StepIndicator-step{
    color:#fff;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    font-size:0.9em;
    padding-top:15px;
    position:relative;
    text-align:center
}
.StepIndicator-step::after{
    border-radius:50%;
    border:3px solid #ff9a56;
    content:"";
    height:15px;
    left:calc(50% - 7.5px);
    position:absolute;
    top:calc(-7.5px + 1.5px);
    width:15px;
    z-index:1
}
.StepIndicator-step::before{
    background-color:rgba(255,255,255,0.1);
    border-radius:3px;
    content:"";
    height:3px;
    left:calc(-50% + 15px);
    position:absolute;
    top:0;
    width:calc(100% - 30px)
}
.StepIndicator-step:first-child::before{
    display:none
}
.StepIndicator-step--complete::after{
    background-color:#ff9a56;
    border-color:#ff9a56
}
.StepIndicator-step--complete::before{
    background-color:#ff9a56
}
 .countdown-timer ul {
     padding: 0;
}
 .countdown-timer li {
     display: inline-block;
     list-style-type: none;
     padding: 1em;
}
 .countdown-timer li span {
     display: block;
     font-weight: bold;
     font-size: 3rem;
}
 .countdown-timer li {
     display: inline-block;
     list-style-type: none;
     padding: 1em;
     margin: 10px;
     height: 110px;
     max-width: 120px;
     border-radius: 4px;
}
 .countdown-timer li span {
     font-weight: bold;
     font-size: 3rem;
     line-height: 45px;
}
.footer--credits {
    color:#cccccc;
    font-family:"Sailec-Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size:1.2em;
    letter-spacing:0.5px;
    margin-top: 2rem;
    text-align: center;
}